.Footer {
    background: #282828;
    padding: 50rem 0 16rem 0;
    color: #fff;


    .content {
        .ft {
            display: grid;
            grid-template-columns: 240rem 1fr;
            align-items: flex-start;
            gap: 100rem;
            margin: 0 0 16rem 0;

            border-bottom: 1px solid #666;

            .left {


                h2 {
                    text-align: center;
                    margin: 0 0 30rem 0;
                }

                .contact {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8rem;

                    color: #ddd;
                    font-size: 14rem;

                    margin: 0 0 16rem 0;
                }

                .icon {
                    display: flex;
                    justify-content: center;
                    gap: 8rem;

                    i {
                        font-size: 24rem;
                        color: $color-white;
                    }
                }
            }

            .right {
                margin: 0 0 16rem 0;

                .fm {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 60rem;
                    gap: 36rem;

                    >li {

                        >a {
                            display: block;
                            font-size: 18rem;
                            font-weight: 500;
                            color: #ddd;
                            margin: 0 0 16rem 0;
                        }

                        >ul {
                            >li {
                                font-size: 16rem;
                                color: #999;

                                &:not(:last-child) {
                                    margin: 0 0 10rem 0;
                                }
                            }
                        }
                    }
                }
            }
        }

        .copyright {
            max-width: 1200rem;
            margin: 0 auto;
            font-size: 12rem;
        }
    }
}