.Header {

    // sticky를 쓰려면 부모 요소 over-flow 없어야 한다.


    position: relative;
    top: 0;
    z-index: 1001;


    height: auto;

    .header_top_area {
        height: 40rem;
        background: $color-body;
        color: $color-line;
        line-height: 40rem;
        font-size: 14rem;

        .content {
            display: flex;
            justify-content: space-between;

            .util {
                display: flex;
                justify-content: space-between;
                gap: 20rem;

                >li {
                    position: relative;

                    ~li::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -10rem;
                        transform: translate(0, -50%);
                        width: 1rem;
                        height: 10rem;
                        background: $color-gf;
                    }
                }
            }
        }
    }


    // header.on이 되었을 때 메뉴 영역 고정시키기
    &.on {

        .header_menu_area {

            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            z-index: 1002;

            height: 80rem;
            line-height: 80rem;
            box-shadow: 1px 1px 5px #ddd;

            transition: all 0.5s ease;

            .content {
                .gnb {
                    .depth1 {

                        // 메뉴 영역의 위치 변경으로 인한 top 수정.
                        .mega_box {
                            position: absolute;
                            top: 80rem;
                        }
                    }
                }
            }
        }
    }




    // 메뉴
    .header_menu_area {



        height: 100rem;
        font-size: 18rem;
        font-weight: 600;
        line-height: 100rem;

        background: $color-white;

        .content {

            display: flex;
            justify-content: flex-start;
            gap: 88rem;


            .h1 {
                flex: 0 0 178px;

            }

            .gnb {



                .depth1 {
                    display: flex;

                    >li {

                        >a {
                            display: block;
                            word-break: keep-all;
                            padding: 0 32rem;
                        }

                        &:hover {

                            .mega_box {

                                display: block;

                            }
                        }
                    }

                    .mega_box {
                        display: none;
                        position: absolute;
                        left: 0;
                        top: 140rem;
                        transform: translate(0, 0);
                        background: url(../images/subGnb.png) no-repeat center center/cover;
                        height: 400rem;
                        width: 100%;
                        border-top: 1px solid #ededee;
                        border-bottom: 2rem solid $color-main;


                        .content {
                            display: flex;
                            justify-content: flex-start;
                            gap: 0;
                            height: 100%;

                            position: relative;

                            .mega_title {
                                width: 299rem;
                                background: url(../images/subGnb_1depth.png) no-repeat center center/cover;
                                line-height: 1;
                                padding: 35rem 40rem;

                                h2 {
                                    display: block;
                                    font-size: 32rem;
                                    font-weight: 400;
                                    color: $color-main;
                                    margin: 0 0 16rem 0;
                                }

                                p {
                                    font-size: 14rem;
                                }
                            }

                            // 중메뉴 ul
                            .depth2 {


                                display: flex;
                                justify-content: flex-start;
                                flex-direction: column;
                                gap: 0;

                                padding: 35rem 40rem;
                                font-weight: 400;
                                line-height: 1;
                                height: 100%;
                                width: 300rem;

                                border-right: 1px solid #ededee;

                                position: relative;

                                >li {
                                    &:hover {
                                        background: $color-main;


                                        >a {
                                            background: url(../images/depth_2_arrow.png) no-repeat 65% center;
                                            color: $color-white;
                                        }

                                        .depth3 {
                                            display: block;
                                        }
                                    }

                                    >a {
                                        display: block;
                                        width: 300rem;
                                        height: 36rem;
                                        line-height: 36rem;
                                        padding: 0 10rem;
                                    }

                                    .depth3 {
                                        display: none;

                                        position: absolute;
                                        left: 100%;
                                        top: 0;

                                        width: 100vh;
                                        height: 400rem;

                                        // 소메뉴 ul
                                        ul {
                                            display: flex;
                                            flex-direction: column;

                                            padding: 35rem 40rem;
                                            width: max-content;
                                            height: 400rem;

                                            li {

                                                width: 190rem;

                                                &:hover {
                                                    a {
                                                        color: $color-main;
                                                    }
                                                }

                                                a {
                                                    display: block;
                                                    font-size: 16rem;
                                                    height: 36rem;
                                                    line-height: 36rem;

                                                }
                                            }
                                        }

                                        .long_menu {
                                            flex-wrap: wrap;
                                            width: max-content;
                                        }
                                    }
                                }

                            }
                        }
                    }



                }
            }
        }
    }

    .header_bottom_area {
        height: 32rem;
        background: $color-main;
        color: $color-line;
        font-size: 16rem;
        line-height: 32rem;

        .content {
            .util {
                display: flex;
                justify-content: center;
                gap: 32rem;
            }
        }
    }


    .material-symbols-outlined {
        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 0,
            'opsz' 48;

        vertical-align: middle;
    }

}