.header {


    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;

    .header_wrap {

        transition: .5s;

        // 헤더 워랩이 후버되었을 시
        &:hover {
            background: $color-white;
            transition: .5s;

            .inner {
                color: $color-dark;

                h1 {
                    .logo {
                        background: url(../images/logo2.png) no-repeat;
                    }
                }
            }
        }


        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $color-white;

            &.on {

                color: $color-dark;

                h1 {
                    .logo {
                        background: url(../images/logo2.png) no-repeat;
                    }
                }

            }


            h1 {
                .logo {
                    display: block;
                    width: 145px;
                    height: 36px;
                    background: url(../images/logo1.png) no-repeat;
                    transition: 0.3s;
                }

                flex: 0 0 145rem;
            }

            .gnb {
                margin: 0 0 0 160rem;


                /* 다단 메뉴 영역 */
                &::before {
                    content: "";
                    position: absolute;
                    top: 80rem;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background: $color-gray;
                    transition: 0.3s;
                }

                /* 마우스 갖다댈 때 높이 생기게 하기 */
                &:hover::before {
                    height: 60rem;
                }


                >ul {
                    display: flex;


                    >li {
                        position: relative;


                        >a {
                            display: block;
                            line-height: 80rem;
                            padding: 0 40rem;
                            font-size: 22rem;
                            font-weight: 500;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            bottom: 0;
                            width: 0;
                            height: 1rem;
                            background: $color-main;
                        }

                        &:hover::after {
                            content: "";
                            position: absolute;
                            width: 100%;
                            transition: 0.5s;
                            background: $color-main;
                        }

                        &:hover {
                            .sub_menu {
                                display: flex;
                                gap: 30rem;
                            }
                        }

                    }


                    .sub_menu {
                        position: absolute;
                        top: 80rem;
                        left: 50%;
                        transform: translate(-50%, 0);
                        width: max-content;

                        display: none;

                        li:hover {

                            a {
                                font-weight: 700;
                            }

                        }

                        a {
                            display: block;
                            color: $color-dark;
                            font-size: 16rem;
                            line-height: 60rem;
                            width: 100%;
                        }
                    }
                }
            }

            .customer {
                display: flex;
                align-items: center;
                gap: 40rem;
                font-size: 12rem;
                font-weight: 500;

                ul {
                    display: flex;
                    gap: 20rem;

                    li {
                        position: relative;

                        ~li::before {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: -10rem;
                            transform: translate(0, -50%);
                            width: 1rem;
                            height: 12rem;
                            background: $color-gray;
                        }
                    }
                }

                .map {
                    i {
                        font-size: 36rem;
                    }
                }
            }

        }
    }
}


.aside {
    position: fixed;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    z-index: 999;

    &.on {
        a {
            color: $color-dark;

            &::after {
                border: 1px solid $color-dark;
            }
        }

        li.on {
            a {
                &::after {
                    background: $color-dark;
                }
            }
        }

    }

    ul {
        li {
            a {
                position: relative;
                display: block;
                width: 8rem;
                height: 8rem;
                margin: 0 0 16rem 0;

                span {
                    display: none;
                    font-size: 0;
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 20rem;
                    width: 8rem;
                    height: 8rem;
                    transform: translate(-50%, -50%);
                    border: 1px solid $color-white;
                    border-radius: 50%;
                    transition: 0.3s;
                }
            }

            &.on {
                a {
                    span {
                        display: block;
                        transform: translate(-100%, 0);
                    }

                    &::after {
                        position: absolute;
                        top: 50%;
                        left: 20rem;
                        transform: translate(-50%, -50%);
                        width: 12rem;
                        height: 12rem;
                        background: $color-white;
                    }
                }
            }
        }
    }
}


/* 탑스크롤 */
.to_top {
    position: fixed;
    bottom: 20rem;
    right: 20rem;
    z-index: 999;

    i {
        color: $color-white;
        background: $color-rgba05;
        padding: 10rem;
        vertical-align: middle;
        text-align: center;
        border-radius: 50%;
        font-size: 20rem;
        cursor: pointer;
    }
}