.Main {


    // 메인 비주얼
    #MainVisual {
        position: relative;
        height: calc(100vh - 172rem);


        .quick_menu {
            position: absolute;
            right: 0;
            top: 0;
            width: 48rem;
            transition: all 0.2s ease;
            z-index: 999;

            &:hover {
                width: 168rem;

                >ul {
                    width: 168rem;

                    >li {
                        >a {
                            text-indent: 0;
                        }
                    }
                }
            }

            >ul {
                width: 48rem;
                font-size: 16rem;

                background-color: #70122b;
                transition: all 0.2s ease;
                letter-spacing: -1rem;
                margin: 80rem 0 0 0;

                >li {
                    &.q01 {
                        >a {
                            background-position: 12rem 12rem;
                        }
                    }

                    &.q02 {
                        >a {
                            background-position: 12rem -47rem;
                        }
                    }

                    &.q03 {
                        >a {
                            background-position: 12rem -106rem;
                        }
                    }

                    &.q04 {
                        >a {
                            background-position: 12rem -163rem;
                        }
                    }

                    &.q05 {
                        >a {
                            background-position: 12rem -222rem;
                        }
                    }

                    &.q06 {
                        >a {
                            background-position: 12rem -340rem;
                        }
                    }

                    &.q07 {
                        >a {
                            background-position: 12rem -282rem;
                        }
                    }

                    &.q08 {
                        >a {
                            background-position: 12rem -458rem;
                        }
                    }

                    >a {
                        display: block;
                        color: #fff;
                        height: 48rem;
                        padding: 16rem 0 16rem 48rem;
                        background: url('../images/quickLink_s.png') no-repeat;
                        text-indent: -5000rem;

                        &:hover {
                            background-color: #b58d74;
                        }
                    }
                }
            }
        }

        .main_video {


            .ctr {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(0, calc(-50% + 100px));
                margin: 560rem 0 0 -585rem;

                span {
                    font-size: 56rem;
                    color: $color-white;
                    cursor: pointer;
                }
            }
        }

    }

    // 메인 뉴스 섹션
    #MainNews {
        background: #f4f4f4;

        .content {
            display: grid;
            grid-gap: 36rem;
            grid-template-areas:
                "s_n s_n r_n01"
                "s_n s_n r_n01"
                "s_n s_n r_n02"
                "f_n01 f_n02 r_n02";
            // grid-area: s_news;
            max-width: 1200rem;
            padding: 15rem;

            .news_slide {
                position: relative;

                grid-area: s_n;

                height: 600rem;
                width: 834rem;
                box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                .ctr {
                    .swiper-pagination-bullet {
                        background-color: $color-main;
                        width: 14rem;
                        height: 14rem;
                        margin: 0 8rem !important;
                    }
                }


                .itm {
                    border-top: 4rem solid $color-main;
                    background: $color-white;

                    .img_box {
                        height: 400rem;
                        overflow: hidden;

                        margin: 0 0 24rem 0;

                        img {

                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                            transition: 0.5s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                    }


                    .txt_box {
                        padding: 0 20rem;

                        strong {
                            display: block;
                            font-size: 32rem;
                            font-weight: 600;
                            line-height: 30rem;
                            margin: 0 0 22rem 0;
                        }

                        p {
                            font-size: 16rem;
                            line-height: 20rem;
                            margin: 0 0 8rem 0;
                        }

                        span {
                            position: absolute;
                            bottom: 20rem;
                            font-size: 16rem;
                            font-weight: 600;

                        }
                    }
                }
            }

            .r_news {
                width: 300rem;
                height: 400rem;
                background: $color-white;
                box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);
                position: relative;

                &.rn01 {
                    grid-area: r_n01;
                }

                &.rn02 {
                    grid-area: r_n02;
                }

                .card {
                    border-top: 4rem solid $color-main;
                    background: $color-white;

                    .img_box {
                        height: 200rem;
                        overflow: hidden;

                        margin: 0 0 24rem 0;

                        img {

                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                            transition: 0.5s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                    }


                    .txt_box {
                        padding: 0 20rem;

                        strong {
                            display: block;
                            font-size: 20rem;
                            font-weight: 600;
                            line-height: 24rem;
                            margin: 0 0 18rem 0;
                        }

                        p {
                            font-size: 16rem;
                            line-height: 20rem;
                        }

                        span {
                            position: absolute;
                            bottom: 20rem;
                            font-size: 16rem;
                            font-weight: 600;

                        }
                    }
                }
            }

            .f_news {
                width: 400rem;
                height: 200rem;
                background: $color-white;
                box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);
                position: relative;

                &.fn01 {
                    grid-area: f_n01;

                    .card {
                        border-top: 4rem solid $color-main;
                        background: $color-white;

                        padding: 20rem;

                        .txt_box {
                            strong {
                                display: block;
                                font-size: 20rem;
                                font-weight: 600;
                                line-height: 24rem;
                                margin: 0 0 18rem 0;
                            }

                            p {
                                font-size: 16rem;
                                line-height: 20rem;
                            }

                            span {
                                position: absolute;
                                bottom: 20rem;
                                font-size: 16rem;
                                font-weight: 600;
                            }
                        }
                    }
                }

                &.fn02 {
                    grid-area: f_n02;
                    position: relative;


                    .card {
                        border-top: 4rem solid $color-main;
                        background: $color-white;

                        padding: 20rem;

                        strong {
                            display: block;
                            text-align: center;
                            line-height: 156rem;
                            font-size: 32rem;
                            font-weight: 600;

                            .material-symbols-outlined {
                                font-variation-settings:
                                    'FILL' 100,
                                    'wght' 600,
                                    'GRAD' 100,
                                    'opsz' 48;

                                vertical-align: text-top;

                                font-size: 40rem;
                            }

                        }

                    }
                }
            }
        }


    }

    .banner_wrap {
        overflow: hidden;
        height: 380rem;
        background: url(../images/bLinkWrapBg1.png) center top no-repeat;
        background-size: cover;

        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            .txt_box {
                color: $color-white;

                p {
                    font-size: 32rem;
                    font-weight: 600;
                    margin: 0 0 16rem 0;
                }

                span {
                    display: block;
                    font-size: 32rem;
                    margin: 0 0 16rem 0;
                }

                strong {
                    font-size: 48rem;
                    font-weight: 500;
                }
            }

            img {
                float: left;
                width: 50%;
                height: 207rem;
            }
        }
    }

    // 메인 연구 성과 섹션
    #MainResearch {
        background: #f4f4f4;

        .content {
            display: grid;
            grid-gap: 36rem;
            grid-template-areas:
                "s_n s_n s_n"
                "f_n01 f_n02 fr_nl";
            // grid-area: s_news;
            max-width: 1200rem;
            padding: 15rem;

            .research_slide {
                position: relative;

                grid-area: s_n;

                height: 400rem;
                width: 1170rem;
                box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                .ctr {
                    position: absolute;
                    right: 24rem;
                    bottom: 24rem;
                    width: 150rem;

                    .swiper-pagination-bullet {
                        background-color: $color-main;
                        width: 14rem;
                        height: 14rem;
                        margin: 0 8rem !important;
                    }
                }

                .itm {
                    border-top: 4rem solid $color-main;

                    background: $color-white;

                    display: grid;
                    grid-template-columns: 2fr 450rem;


                    .img_box {
                        overflow: hidden;
                        height: 400rem;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                            transition: 0.5s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                    }

                    .txt_box {
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 450rem;
                        height: 100%;
                        padding: 36rem;
                        border-left: 1rem solid $color-line;

                        strong {
                            display: block;
                            font-size: 24rem;
                            font-weight: 700;
                            line-height: 30rem;
                            margin: 0 0 30rem 0;
                        }

                        p {
                            font-size: 16rem;
                            line-height: 20rem;
                        }

                        span {
                            position: absolute;
                            bottom: 36rem;
                            font-size: 16rem;
                            font-weight: 600;

                        }
                    }
                }
            }

            .f_re_news {
                width: 366rem;
                height: 400rem;
                background: $color-white;
                box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);
                position: relative;

                &.fnr01 {
                    grid-area: f_n01;
                }

                &.fnr02 {
                    grid-area: f_n02;
                }

                .card {
                    border-top: 4rem solid $color-main;
                    background: $color-white;

                    .img_box {
                        height: 200rem;
                        overflow: hidden;

                        margin: 0 0 24rem 0;

                        img {

                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                            transition: 0.5s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                    }


                    .txt_box {
                        padding: 0 20rem;

                        strong {
                            display: block;
                            font-size: 20rem;
                            font-weight: 600;
                            line-height: 24rem;
                            margin: 0 0 18rem 0;
                        }

                        p {
                            font-size: 16rem;
                            line-height: 20rem;
                        }

                        span {
                            position: absolute;
                            bottom: 20rem;
                            font-size: 16rem;
                            font-weight: 600;

                        }
                    }
                }
            }

            .fr_re_newslist {
                position: relative;
                grid-area: fr_nl;
                width: 366rem;
                height: 400rem;
                background: $color-white;
                box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                >ul {
                    display: flex;
                    flex-direction: column;

                    >a {
                        padding: 24rem 20rem;

                        background: $color-main;
                        color: $color-white;
                        font-size: 20rem;
                        font-weight: 600;

                        span {
                            float: right;
                            vertical-align: text-top;
                        }
                    }

                    li {
                        padding: 20rem;

                        .txt_box {
                            strong {
                                display: block;
                                font-size: 16rem;
                                font-weight: 600;
                                margin: 0 0 8rem 0;
                            }

                            span {
                                font-size: 12rem;

                                &:last-child {
                                    margin: 0 0 0 8rem;
                                    font-weight: 700;
                                    color: $color-main;
                                }
                            }
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid $color-line;
                        }
                    }


                }



            }


        }
    }




    //  메인 주요 행사 이벤트 섹션
    #MainEvent {
        background: #ececec;

        .content {
            display: grid;
            grid-gap: 36rem;
            grid-template-columns: 1fr 1fr;
            max-width: 1200rem;
            padding: 15rem;


            .event_slide {
                position: relative;
                height: 638rem;
                width: 768rem;

                .ctr {
                    position: absolute;
                    right: 16rem;
                    bottom: 10rem;
                    width: 100rem;


                    .swiper-pagination-bullet {
                        background-color: $color-main;
                        width: 12rem;
                        height: 12rem;

                        margin: 0 8rem 0 0 !important;
                    }
                }

                .itm {
                    border-top: 4rem solid $color-main;
                    background: $color-white;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                    .img_box {
                        height: 400rem;
                        overflow: hidden;

                        margin: 0 0 24rem 0;

                        img {

                            height: 100%;
                            width: 100%;
                            object-fit: cover;

                            transition: 0.5s;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }

                    }

                    .txt_box {
                        padding: 0 20rem;

                        strong {
                            display: block;
                            font-size: 20rem;
                            font-weight: 600;
                            line-height: 30rem;
                            margin: 0 0 22rem 0;
                        }

                        p {
                            font-size: 16rem;
                            line-height: 20rem;
                            margin: 0 0 8rem 0;
                        }

                        span {
                            position: absolute;
                            bottom: 20rem;
                            font-size: 16rem;
                            font-weight: 600;

                        }
                    }
                }
            }

            .fr_ev_newslist {
                position: relative;
                width: 366rem;
                height: 638rem;
                background: $color-white;
                box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                >ul {
                    display: flex;
                    flex-direction: column;

                    >a {
                        padding: 24rem 20rem;

                        background: $color-main;
                        color: $color-white;
                        font-size: 20rem;
                        font-weight: 600;

                        span {
                            float: right;
                            vertical-align: text-top;
                        }
                    }

                    li {
                        padding: 20rem;

                        .txt_box {
                            strong {
                                display: block;
                                font-size: 16rem;
                                font-weight: 600;
                                margin: 0 0 8rem 0;
                            }

                            span {
                                font-size: 12rem;

                                &:last-child {
                                    margin: 0 0 0 8rem;
                                    font-weight: 700;
                                    color: $color-main;
                                }
                            }
                        }

                        &:not(:last-child) {
                            border-bottom: 1px solid $color-line;
                        }
                    }


                }



            }

        }
    }
}