@import './mixins';

.Header {



    @include responsive(sl) {
        position: relative;
        top: 0;
        z-index: 1001;
        height: 80rem;
        line-height: 80rem;


        .header_top_area {
            display: none;
        }

        // header.on이 되었을 때 메뉴 영역 고정시키기
        &.on {
            .header_menu_area {
                transition: none;

                .content {
                    .gnb {
                        .depth1 {
                            .mega_box {
                                display: none;
                                position: static;
                                transform: translate(0, 0);

                                background: none;
                                width: 100%;
                                border-top: none;
                                border-bottom: none;
                                z-index: 1010;
                                line-height: 1;
                                height: max-content;
                                transition: none;
                            }
                        }
                    }
                }
            }
        }



        // 메뉴 영역
        .header_menu_area {
            position: fixed;
            z-index: 1002;
            height: 80rem;
            width: 100%;
            font-size: 18rem;
            font-weight: 600;

            height: 80rem;
            line-height: 80rem;

            background: $color-white;
            border-bottom: 1px solid $color-line;
            transition: none;

            .content {

                display: flex;
                justify-content: flex-start;
                gap: 88rem;


                .h1 {
                    flex: 0 0 178px;

                }

                // 대메뉴 배경 영역
                .gnb {
                    margin: 0 0 0 0;
                    position: fixed;
                    top: 80rem;
                    bottom: 0;
                    left: -100%;
                    background: #ffffff;
                    width: 100%;
                    height: calc(100% - 80rem);
                    transition: 0.5s;
                    z-index: 999;

                    &.on {
                        left: 0;
                    }

                    // 첫번째 대메뉴
                    .depth1 {

                        display: grid;
                        grid-template-columns: 1fr;


                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        width: 100%;
                        height: 50%;

                        margin: -181rem 0 0 0;
                        color: $color-dark;
                        text-align: center;


                        >li {

                            position: relative;


                            line-height: 1;


                            >a {
                                padding: 20rem;
                                font-size: 24rem;
                                line-height: 1;
                                background-color: $color-line3;
                                border-bottom: 1px solid $color-line;
                            }

                            &:hover {
                                .mega_box {
                                    display: none;
                                }
                            }
                        }

                        .mega_box {
                            display: none;
                            position: static;
                            transform: translate(0, 0);

                            background: none;
                            width: 100%;
                            border-top: none;
                            border-bottom: none;
                            z-index: 1010;
                            height: auto;

                            .content {
                                display: flex;
                                justify-content: flex-start;
                                gap: 0;
                                height: 100%;
                                padding: 0;
                                position: relative;

                                .mega_title {
                                    display: none;
                                }

                                // ul
                                .depth2 {

                                    display: grid;
                                    grid-template-columns: 1fr;

                                    gap: 0;

                                    padding: 0;
                                    font-weight: 400;
                                    line-height: 1;
                                    height: 100%;
                                    width: 100%;

                                    background: $color-white;

                                    position: relative;

                                    >li {
                                        color: $color-dark;
                                        text-align: center;
                                        font-size: 20rem;

                                        border-bottom: 1px solid $color-line;


                                        &:hover {
                                            background: none;

                                            >a {
                                                background: none;
                                                color: $color-dark;
                                                border-bottom: 1px solid $color-line;
                                            }

                                            .depth3 {
                                                display: none;
                                            }
                                        }

                                        // 연구성과 연구포탈 
                                        >a {
                                            display: block;
                                            width: 100%;
                                            padding: 0;

                                        }

                                        .depth3 {
                                            display: none;

                                            position: static;
                                            transform: translate(0, 0);

                                            width: 100%;
                                            height: 100%;



                                            ul {
                                                display: flex;
                                                flex-direction: column;

                                                padding: 0;
                                                width: 100%;
                                                height: 100%;

                                                li {
                                                    width: 100%;
                                                    height: auto;

                                                    &:hover {


                                                        a {
                                                            color: $color-main;

                                                        }

                                                    }

                                                    a {

                                                        display: block;
                                                        font-size: 16rem;
                                                        height: 36rem;
                                                        line-height: 36rem;

                                                    }
                                                }
                                            }

                                            .long_menu {
                                                flex-wrap: wrap;
                                                width: max-content;
                                            }
                                        }
                                    }

                                }
                            }
                        }



                    }
                }
            }
        }

        .header_bottom_area {
            display: none;
        }
    }


    // 모바일 버튼
    @media (max-width: 768px) {
        .mobile_btn {

            display: block;

            position: fixed;
            inset: 25rem 30rem auto auto;
            z-index: 1004;
            width: 30rem;
            height: 30rem;
            background: $color_line;
            border-radius: 5rem;

            &::before,
            &::after {

                content: "";
                position: absolute;
                inset: 14rem 5rem auto 5rem;
                height: 2rem;
                background: $color_black;
            }

            &.on::before {
                transform: rotate(45deg);
                transition: 0.5s 0.2s;
            }

            &.on::after {
                transform: rotate(-45deg);
                transition: 0.5s 0.6s;
            }


            &.on button::before,
            &.on button::after {
                display: none;
            }

            button {
                border: none;
                outline: none;
                background: transparent;

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    height: 2rem;
                    background: $color_black;
                }

                &::before {
                    inset: 7rem 5rem auto 5rem;
                }

                &::after {
                    inset: auto 5rem 7rem 5rem;
                }
            }
        }
    }


}

.Main {
    @include responsive(sl) {

        // 메인 비주얼
        #MainVisual {
            position: relative;
            // r
            height: 500rem;

            .quick_menu {
                position: absolute;
                right: 0;
                top: 0;
                width: 48rem;
                transition: all 0.2s ease;
                z-index: 999;

                &:hover {
                    width: 168rem;

                    >ul {
                        width: 168rem;

                        >li {
                            >a {
                                text-indent: 0;
                            }
                        }
                    }
                }

                >ul {
                    width: 48rem;
                    font-size: 16rem;

                    background-color: #70122b;
                    transition: all 0.2s ease;
                    letter-spacing: -1rem;
                    margin: 80rem 0 0 0;

                    >li {
                        &.q01 {
                            >a {
                                background-position: 12rem 12rem;
                            }
                        }

                        &.q02 {
                            >a {
                                background-position: 12rem -47rem;
                            }
                        }

                        &.q03 {
                            >a {
                                background-position: 12rem -106rem;
                            }
                        }

                        &.q04 {
                            >a {
                                background-position: 12rem -163rem;
                            }
                        }

                        &.q05 {
                            >a {
                                background-position: 12rem -222rem;
                            }
                        }

                        &.q06 {
                            >a {
                                background-position: 12rem -340rem;
                            }
                        }

                        &.q07 {
                            >a {
                                background-position: 12rem -282rem;
                            }
                        }

                        &.q08 {
                            >a {
                                background-position: 12rem -458rem;
                            }
                        }

                        >a {
                            display: block;
                            color: #fff;
                            height: 48rem;
                            padding: 16rem 0 16rem 48rem;
                            background: url('../images/quickLink_s.png') no-repeat;
                            text-indent: -5000rem;

                            &:hover {
                                background-color: #b58d74;
                            }
                        }
                    }
                }
            }

            .main_video {
                .ctr {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(0, calc(-50% + 100px));
                    margin: 560rem 0 0 -585rem;

                    span {
                        font-size: 56rem;
                        color: $color-white;
                        cursor: pointer;
                    }
                }
            }

        }

        // 메인 뉴스 섹션
        #MainNews {
            background: #f4f4f4;

            .content {
                display: grid;
                grid-gap: 36rem;
                grid-template-areas:
                    "s_n"
                    "r_n01"
                    "r_n02"
                    "f_n01"
                    "f_n02";
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                max-width: 1200rem;
                padding: 15rem;

                .news_slide {
                    position: relative;

                    grid-area: s_n;

                    height: 600rem;
                    width: 100%;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                    .ctr {
                        .swiper-pagination-bullet {
                            background-color: $color-main;
                            width: 14rem;
                            height: 14rem;
                            margin: 0 8rem !important;
                        }
                    }


                    .itm {
                        border-top: 4rem solid $color-main;
                        background: $color-white;

                        .img_box {
                            height: 400rem;
                            overflow: hidden;

                            margin: 0 0 24rem 0;

                            img {

                                height: 100%;
                                width: 100%;
                                object-fit: cover;

                                transition: 0.5s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                        }


                        .txt_box {
                            padding: 0 20rem;

                            strong {
                                display: block;
                                font-size: 32rem;
                                font-weight: 600;
                                line-height: 30rem;
                                margin: 0 0 22rem 0;
                            }

                            p {
                                font-size: 16rem;
                                line-height: 20rem;
                                margin: 0 0 8rem 0;
                            }

                            span {
                                position: absolute;
                                bottom: 20rem;
                                font-size: 16rem;
                                font-weight: 600;

                            }
                        }
                    }
                }

                .r_news {
                    width: 100%;
                    height: 400rem;
                    background: $color-white;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);
                    position: relative;

                    &.rn01 {
                        grid-area: r_n01;
                    }

                    &.rn02 {
                        grid-area: r_n02;
                    }

                    .card {
                        border-top: 4rem solid $color-main;
                        background: $color-white;

                        .img_box {
                            height: 200rem;
                            overflow: hidden;

                            margin: 0 0 24rem 0;

                            img {

                                height: 100%;
                                width: 100%;
                                object-fit: cover;

                                transition: 0.5s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                        }


                        .txt_box {
                            padding: 0 20rem;

                            strong {
                                display: block;
                                font-size: 20rem;
                                font-weight: 600;
                                line-height: 24rem;
                                margin: 0 0 18rem 0;
                            }

                            p {
                                font-size: 16rem;
                                line-height: 20rem;
                            }

                            span {
                                position: absolute;
                                bottom: 20rem;
                                font-size: 16rem;
                                font-weight: 600;

                            }
                        }
                    }
                }

                .f_news {
                    width: 100%;
                    height: 200rem;
                    background: $color-white;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);
                    position: relative;

                    &.fn01 {
                        grid-area: f_n01;

                        .card {
                            border-top: 4rem solid $color-main;
                            background: $color-white;

                            padding: 20rem;

                            .txt_box {
                                strong {
                                    display: block;
                                    font-size: 20rem;
                                    font-weight: 600;
                                    line-height: 24rem;
                                    margin: 0 0 18rem 0;
                                }

                                p {
                                    font-size: 16rem;
                                    line-height: 20rem;
                                }

                                span {
                                    position: absolute;
                                    bottom: 20rem;
                                    font-size: 16rem;
                                    font-weight: 600;
                                }
                            }
                        }
                    }

                    &.fn02 {
                        grid-area: f_n02;
                        position: relative;


                        .card {
                            border-top: 4rem solid $color-main;
                            background: $color-white;

                            padding: 20rem;

                            strong {
                                display: block;
                                text-align: center;
                                line-height: 156rem;
                                font-size: 32rem;
                                font-weight: 600;

                                .material-symbols-outlined {
                                    font-variation-settings:
                                        'FILL' 100,
                                        'wght' 600,
                                        'GRAD' 100,
                                        'opsz' 48;

                                    vertical-align: text-top;

                                    font-size: 40rem;
                                }

                            }

                        }
                    }
                }
            }


        }

        // r
        .banner_wrap {
            height: 300rem;
            padding: 20rem;

            .content {
                display: grid;
                text-align: center;

                .txt_box {
                    p {
                        font-size: 20rem;
                        margin: 0 0 8rem 0;
                    }

                    span {
                        font-size: 20rem;
                    }

                    strong {
                        display: block;
                        font-size: 36rem;
                        margin: 0 0 16rem 0;
                    }
                }

                img {
                    height: 100%;
                }
            }
        }

        // 메인 연구 성과 섹션
        #MainResearch {
            background: #f4f4f4;

            .content {
                display: grid;
                grid-gap: 36rem;
                grid-template-areas:
                    "s_n"
                    "f_n01"
                    "f_n02"
                    "fr_nl";
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                max-width: 1200rem;
                padding: 15rem;

                .research_slide {
                    position: relative;

                    grid-area: s_n;

                    height: 700rem;
                    width: 100%;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                    .ctr {
                        position: absolute;
                        right: 24rem;
                        bottom: 24rem;
                        width: 150rem;

                        .swiper-pagination-bullet {
                            background-color: $color-main;
                            width: 14rem;
                            height: 14rem;
                            margin: 0 8rem !important;
                        }
                    }

                    .itm {
                        border-top: 4rem solid $color-main;

                        background: $color-white;

                        display: grid;
                        // r
                        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));


                        .img_box {
                            overflow: hidden;
                            height: 400rem;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;

                                transition: 0.5s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                        }

                        .txt_box {
                            position: absolute;
                            right: -170rem;
                            top: 380rem;
                            transform: translate(-50%, 0);
                            width: 100%;
                            height: 100%;
                            padding: 36rem;
                            // r
                            border-left: none;

                            strong {
                                display: block;
                                font-size: 24rem;
                                font-weight: 700;
                                line-height: 30rem;
                                margin: 0 0 30rem 0;
                            }

                            p {
                                font-size: 16rem;
                                line-height: 20rem;
                            }

                            span {
                                position: absolute;
                                bottom: 36rem;
                                font-size: 16rem;
                                font-weight: 600;

                            }
                        }
                    }
                }

                .f_re_news {
                    width: 366rem;
                    height: 400rem;
                    background: $color-white;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);
                    position: relative;

                    &.fnr01 {
                        grid-area: f_n01;
                    }

                    &.fnr02 {
                        grid-area: f_n02;
                    }

                    .card {
                        border-top: 4rem solid $color-main;
                        background: $color-white;

                        .img_box {
                            height: 200rem;
                            overflow: hidden;

                            margin: 0 0 24rem 0;

                            img {

                                height: 100%;
                                width: 100%;
                                object-fit: cover;

                                transition: 0.5s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                        }


                        .txt_box {
                            padding: 0 20rem;

                            strong {
                                display: block;
                                font-size: 20rem;
                                font-weight: 600;
                                line-height: 24rem;
                                margin: 0 0 18rem 0;
                            }

                            p {
                                font-size: 16rem;
                                line-height: 20rem;
                            }

                            span {
                                position: absolute;
                                bottom: 20rem;
                                font-size: 16rem;
                                font-weight: 600;

                            }
                        }
                    }
                }

                .fr_re_newslist {
                    position: relative;
                    grid-area: fr_nl;
                    width: 366rem;
                    height: 400rem;
                    background: $color-white;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                    >ul {
                        display: flex;
                        flex-direction: column;

                        >a {
                            padding: 24rem 20rem;

                            background: $color-main;
                            color: $color-white;
                            font-size: 20rem;
                            font-weight: 600;

                            span {
                                float: right;
                                vertical-align: text-top;
                            }
                        }

                        li {
                            padding: 20rem;

                            .txt_box {
                                strong {
                                    display: block;
                                    font-size: 16rem;
                                    font-weight: 600;
                                    margin: 0 0 8rem 0;
                                }

                                span {
                                    font-size: 12rem;

                                    &:last-child {
                                        margin: 0 0 0 8rem;
                                        font-weight: 700;
                                        color: $color-main;
                                    }
                                }
                            }

                            &:not(:last-child) {
                                border-bottom: 1px solid $color-line;
                            }
                        }


                    }



                }


            }
        }




        //  메인 주요 행사 이벤트 섹션
        #MainEvent {
            background: #ececec;

            .content {
                display: grid;
                grid-gap: 36rem;
                // r
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                max-width: 1200rem;
                padding: 15rem;


                .event_slide {
                    position: relative;
                    height: 638rem;
                    // r
                    width: 100%;

                    .ctr {
                        position: absolute;
                        right: 16rem;
                        bottom: 10rem;
                        width: 100rem;


                        .swiper-pagination-bullet {
                            background-color: $color-main;
                            width: 12rem;
                            height: 12rem;

                            margin: 0 8rem 0 0 !important;
                        }
                    }

                    .itm {
                        border-top: 4rem solid $color-main;
                        background: $color-white;
                        box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                        .img_box {
                            height: 400rem;
                            overflow: hidden;

                            margin: 0 0 24rem 0;

                            img {

                                height: 100%;
                                width: 100%;
                                object-fit: cover;

                                transition: 0.5s;

                                &:hover {
                                    transform: scale(1.1);
                                }
                            }

                        }

                        .txt_box {
                            padding: 0 20rem;

                            strong {
                                display: block;
                                font-size: 20rem;
                                font-weight: 600;
                                line-height: 30rem;
                                margin: 0 0 22rem 0;
                            }

                            p {
                                font-size: 16rem;
                                line-height: 20rem;
                                margin: 0 0 8rem 0;
                            }

                            span {
                                position: absolute;
                                bottom: 20rem;
                                font-size: 16rem;
                                font-weight: 600;

                            }
                        }
                    }
                }

                .fr_ev_newslist {
                    position: relative;
                    width: 366rem;
                    height: 638rem;
                    background: $color-white;
                    box-shadow: 2px 2px 28px 3px rgb(0 0 0 / 9%);

                    >ul {
                        display: flex;
                        flex-direction: column;

                        >a {
                            padding: 24rem 20rem;

                            background: $color-main;
                            color: $color-white;
                            font-size: 20rem;
                            font-weight: 600;

                            span {
                                float: right;
                                vertical-align: text-top;
                            }
                        }

                        li {
                            padding: 20rem;

                            .txt_box {
                                strong {
                                    display: block;
                                    font-size: 16rem;
                                    font-weight: 600;
                                    margin: 0 0 8rem 0;
                                }

                                span {
                                    font-size: 12rem;

                                    &:last-child {
                                        margin: 0 0 0 8rem;
                                        font-weight: 700;
                                        color: $color-main;
                                    }
                                }
                            }

                            &:not(:last-child) {
                                border-bottom: 1px solid $color-line;
                            }
                        }


                    }

                }

            }
        }
    }
}



// r
.Footer {
    @include responsive(sl) {
        .ft_top_area {

            height: 104rem;
            font-size: 16rem;
            line-height: 20rem;
            padding: 16rem 0;

            .content {
                .util {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, minmax(86rem, 1fr));
                    gap: 8rem;
                }
            }
        }

        .content {
            .ft {
                grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
                gap: 40rem;

                .right {
                    .fm {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(120rem, 1fr));
                        gap: 24rem;
                        text-align: center;

                        >li {
                            >a {
                                font-size: 16rem;
                                margin: 0 0 16rem 0;
                            }

                            >ul {
                                >li {
                                    font-size: 14rem;

                                    &:not(:last-child) {
                                        margin: 0 0 8rem 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .copyright {
                text-align: center;
            }
        }
    }
}