@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");

// * {
//   outline: 1px solid tomato;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
  font-weight: inherit;
  font-style: normal;
}

*::before,
*::after {
  box-sizing: border-box;
}

*:hover {
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

i,
em,
address {
  font-style: normal;
}

body {
  line-height: 1;
  color: $color-body;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  letter-spacing: -0.025em;
  word-break: keep-all;
  font-size: 16rem;
}

html {
  font-size: 6.25%;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

/* line-height : 3rem + 3rem */
p {
  line-height: 1.375;
}

.inner {
  @include inner();
}


.btn_m {
  display: block;
  border-radius: 32rem;
  font-size: 20rem;
  font-weight: 600;
  background: #d11a45;
  padding: 15rem;
  margin: 0 auto;
  width: 300rem;
  transition: 0.2s;
  animation: TxtUpAni 1s both;
  animation-delay: 0.7s;

  &:hover {
    background-color: $color-main;
  }
}

.btn {
  display: inline-block;
  border-radius: 32rem;
  font-size: 20rem;
  font-weight: 600;
  background: #d11a45;
  padding: 15rem 60rem;
  margin: 0 auto;
  transition: 0.2s;
  color: $color-white;
  text-align: center;

  &:hover {
    background-color: $color-main;
  }
}

.vbtn {
  display: inline-block;
  font-size: 16rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 8rem 36rem;
  border: 1px solid #fff;
  color: $color-white;
  text-align: center;
}


// 버튼 애니메이션
.obtn {

  /* 버튼 선 */
  .circle_line {
    position: relative;
    display: inline-block;
    width: 70rem;
    height: 3rem;
    background: #fff;
    vertical-align: middle;
    margin: 0 0 0 5rem;

    /* 버튼 선 끝 화살표 */
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      top: -5rem;
      right: -7rem;
      border-top: 7rem solid transparent;
      border-bottom: 7rem solid transparent;
      border-left: 7rem solid #fff;
      transition: 0s 0.5s;
    }

    /* 버튼 큰 원 */
    &::after {
      content: "";
      position: absolute;
      top: 1px;
      right: 0;
      transform: translate(-100%, -50%);
      width: 50rem;
      height: 50rem;
      border: 1px solid #fff;
      border-radius: 50%;
      transition: 1s;
    }
  }


  /* 버튼 선 끝 후버 시 원으로 변화*/
  &:hover {
    .circle_line {
      &::before {
        content: "";
        position: absolute;
        top: -7rem;
        right: -7rem;
        width: 17rem;
        height: 17rem;
        border: 1px solid #fff;
        background: #fff;
        border-radius: 50%;
      }

      /* 버튼 원 훕 시 이동 */
      &::after {
        content: "";
        position: absolute;
        transform: translate(24rem, -50%);
        border: 1px solid #fff;
      }
    }
  }
}

.rbtn {
  display: inline-block;
  font-size: 16rem;
  padding: 12rem 48rem;
  border-radius: 36rem;
  color: #fff;
  border: 1px solid #fff;
  overflow: hidden;
  vertical-align: middle;
}

.mobile_btn {
  display: none;
}

@media(max-width: 768px) {

  /* 아이폰 반응형 대응 방식 */
  html {
    /* vw 390인 디바이스를 기준으로 폰트 사이즈를 pc에서 쓰는 rem과 동일하게 만드는 법 */
    font-size: 0.25641025641vw;
    /* 390 size에 맞춤 (16/390*6.25/100) 디자인 사이즈 */
  }

}

/* 그냥 반응형을 만들어버리는 소스 */
.r_inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

g .section {
  padding: 100rem 0;
}

.title {
  text-align: center;
  @include inner();
  margin: 0 auto 40rem auto;

  h2 {
    display: inline-block;
    position: relative;
    padding: 15rem 0;
    font-size: 48rem;
    font-weight: 700;
    margin: 0 0 16rem 0;
  }

  p {
    font-size: 24rem;
    font-weight: 600;
    letter-spacing: -1rem;
  }
}